[Unit]
Description=Springpetclinic service
[Service]
User=jayachandra
WorkingDirectory=/home/jayachandra
ExecStart=/usr/bin/java -jar spring-petclinic-3.0.0.jar
SuccessExitStatus=101
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
